.page-content {
    overflow: hidden;
}

.editormd-container-mask {
    background-color: #2C2E2E;
}

.editormd .CodeMirror-linenumbers {
    width: 30px;
}

.wiki-editor-md {
    display: table-cell;
    position: relative;
    z-index: 1;
    padding-bottom: 0;
    vertical-align: top;
    word-break: break-word;
    width: 100%;
    -webkit-transition: opacity 100ms ease-in-out;
    -moz-transition: opacity 100ms ease-in-out;
    -o-transition: opacity 100ms ease-in-out;
    transition: opacity 100ms ease-in-out;
}

.sidebar-menu-inner {
    position: relative;
    height: 100%;
}

/*ID 选择器方式覆盖三方库内样式*/
#sidebar-menu-top {
    padding: 19px 5px;
    border-bottom: 1px solid #313437;
}

.wiki-create-btn {
    cursor: pointer;
}

.disabled, .disabled > i, .disabled > i:hover {
    background-color: #2C2E2E !important;
    cursor: default;
}

.change, .change > i {
    background-color: #44B036 !important;
    color: #ffffff;
}

.editormd-menu a.change {
    border: 1px #44B036 solid !important;
}

.contextmenu {
    display: none;
    position: absolute;
    width: 120px;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    border-radius: 5px;
    list-style: none;
    box-shadow: 0 15px 35px rgba(50, 50, 90, 0.1),
    0 5px 15px rgba(0, 0, 0, 0.07);
    overflow: hidden;
    z-index: 999999;
}

.contextmenu li {
    border-left: 3px solid transparent;
    transition: ease .2s;
}

.contextmenu li a {
    display: block;
    padding: 10px;
    color: #B0BEC5;
    text-decoration: none;
    transition: ease .2s;
}

.contextmenu li:hover {
    background: #535757;
    border-left: 3px solid rgba(10, 10, 10, 0.97);
}

.contextmenu li:hover a {
    cursor: pointer;
    color: #FFFFFF;
}

/*-------------------------------------
zTree Style

version:	3.5.19
author:		Hunter.z
email:		hunter.z@263.net
website:	http://code.google.com/p/jquerytree/

-------------------------------------*/

#treeDemo {
    overflow: auto;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
}

#wiki-catalog-tree {
    overflow: auto;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
}

.ztree * {
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-family: "Arimo", "Helvetica Neue", Helvetica, Arial, sans-serif
}

.ztree {
    margin: 0;
    padding: 5px;
    color: #333
}

.ztree li {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 32px;
    text-align: left;
    white-space: nowrap;
    outline: 0
}

.ztree li ul {
    margin: 0;
    padding: 0 0 0 18px
}

.ztree li ul.line {
    background: url(../img/line_conn.gif) 0 0 repeat-y;
}

.ztree li a {
    margin: 0;
    cursor: pointer;
    color: #939494;
    background-color: transparent;
    text-decoration: none;
    vertical-align: top;
    display: inline-block
}

.ztree li a:hover {
    text-decoration: none;
}

.ztree li a.curSelectedNode {
    padding-top: 0px;
    color: #FFFFFF;
    height: 16px;
    opacity: 0.8;
}

.ztree li a.curSelectedNode_Edit {
    padding-top: 0px;
    background-color: transparent;
    color: black;
    height: 32px;
    opacity: 0.8;
}

.ztree li a.tmpTargetNode_inner {
    padding-top: 0px;
    background-color: #151515;
    color: white;
    height: 32px;
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.ztree li a.tmpTargetNode_prev {
}

.ztree li a.tmpTargetNode_next {
}

.ztree li a input.rename {
    height: 32px;
    width: 100px;
    padding: 0;
    margin: 0;
    font-size: 14px;
    border: 1px #7EC4CC solid;
    *border: 0px
}

.ztree li span {
    line-height: 16px;
    margin-right: 2px
}

.ztree li span.button {
    line-height: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-image: url("../img/zTreeStandard.png");
    *background-image: url("../img/zTreeStandard.gif")
}

.ztree li span.button.chk {
    width: 13px;
    height: 13px;
    margin: 0 3px 0 0;
    cursor: auto
}

.ztree li span.button.chk.checkbox_false_full {
    background-position: 0 0
}

.ztree li span.button.chk.checkbox_false_full_focus {
    background-position: 0 -14px
}

.ztree li span.button.chk.checkbox_false_part {
    background-position: 0 -28px
}

.ztree li span.button.chk.checkbox_false_part_focus {
    background-position: 0 -42px
}

.ztree li span.button.chk.checkbox_false_disable {
    background-position: 0 -56px
}

.ztree li span.button.chk.checkbox_true_full {
    background-position: -14px 0
}

.ztree li span.button.chk.checkbox_true_full_focus {
    background-position: -14px -14px
}

.ztree li span.button.chk.checkbox_true_part {
    background-position: -14px -28px
}

.ztree li span.button.chk.checkbox_true_part_focus {
    background-position: -14px -42px
}

.ztree li span.button.chk.checkbox_true_disable {
    background-position: -14px -56px
}

.ztree li span.button.chk.radio_false_full {
    background-position: -28px 0
}

.ztree li span.button.chk.radio_false_full_focus {
    background-position: -28px -14px
}

.ztree li span.button.chk.radio_false_part {
    background-position: -28px -28px
}

.ztree li span.button.chk.radio_false_part_focus {
    background-position: -28px -42px
}

.ztree li span.button.chk.radio_false_disable {
    background-position: -28px -56px
}

.ztree li span.button.chk.radio_true_full {
    background-position: -42px 0
}

.ztree li span.button.chk.radio_true_full_focus {
    background-position: -42px -14px
}

.ztree li span.button.chk.radio_true_part {
    background-position: -42px -28px
}

.ztree li span.button.chk.radio_true_part_focus {
    background-position: -42px -42px
}

.ztree li span.button.chk.radio_true_disable {
    background-position: -42px -56px
}

.ztree li span.button.switch {
    width: 18px;
    height: 18px
}

.ztree li span.button.root_open {
    background-position: -92px -54px
}

.ztree li span.button.root_close {
    background-position: -74px -54px
}

.ztree li span.button.roots_open {
    background-position: -92px 0
}

.ztree li span.button.roots_close {
    background-position: -74px 0
}

.ztree li span.button.center_open {
    background-position: -92px -18px
}

.ztree li span.button.center_close {
    background-position: -74px -18px
}

.ztree li span.button.bottom_open {
    background-position: -92px -36px
}

.ztree li span.button.bottom_close {
    background-position: -74px -36px
}

.ztree li span.button.noline_open {
    background: transparent;
}

.ztree li span.button.noline_close {
    background: transparent;
}

.ztree li span.button.root_docu {
    background: none;
}

.ztree li span.button.roots_docu {
    background-position: -56px 0
}

.ztree li span.button.center_docu {
    background-position: -56px -18px
}

.ztree li span.button.bottom_docu {
    background-position: -56px -36px
}

.ztree li span.button.noline_docu {
    background: none;
}

.ztree li span.button.ico_open {
    margin-right: 2px;
    background: url("../img/doc_open.png") no-repeat scroll 0 0 transparent;
    background-size: 18px;
    *vertical-align: middle
}

.ztree li span.button.ico_close {
    margin-right: 2px;
    background: url("../img/doc_close.png") no-repeat scroll 0 0 transparent;
    background-size: 18px;
    *vertical-align: middle
}

.ztree li span.button.ico_docu {
    margin-right: 2px;
    background: url("../img/document.png") no-repeat scroll 0 0 transparent;
    background-size: 18px;
    *vertical-align: middle
}

.ztree li span.button.edit {
    margin-right: 2px;
    background-position: -110px -48px;
    vertical-align: top;
    *vertical-align: middle
}

.ztree li span.button.remove {
    margin-right: 2px;
    background-position: -110px -64px;
    vertical-align: top;
    *vertical-align: middle
}

.ztree li span.button.ico_loading {
    margin-right: 2px;
    background: url(../img/loading.gif) no-repeat scroll 0 0 transparent;
    vertical-align: top;
    *vertical-align: middle
}

ul.tmpTargetzTree {
    background-color: #FFE6B0;
    opacity: 0.8;
    filter: alpha(opacity=80)
}

span.tmpzTreeMove_arrow {
    width: 16px;
    height: 16px;
    z-index: 100;
    display: inline-block;
    padding: 0;
    margin: 2px 0 0 1px;
    border: 0 none;
    position: absolute;
    background: url("../img/arrow_right.png") no-repeat scroll 0 0 transparent;
}

ul.ztree.zTreeDragUL {
    margin: 0;
    padding: 0;
    position: absolute;
    width: auto;
    height: auto;
    z-index: 100;
    overflow: hidden;
    background-color: #151515;
    opacity: 0.8;
    filter: alpha(opacity=80)
}

.zTreeMask {
    z-index: 10000;
    background-color: #cfcfcf;
    opacity: 0.0;
    filter: alpha(opacity=0);
    position: absolute
}

/* level style*/
/*.ztree li span.button.level0 {
	display:none;
}
.ztree li ul.level0 {
	padding:0;
	background:none;
}*/
