.wiki-project-container {
    height: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}

.wiki-doc-img {
    width: 100%;
    height: auto;
}

.wiki-doc-container {
    margin-bottom: 15px;
    background: #2C2E2E;
    cursor: pointer;
    display: block;
}

.wiki-doc-container:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #589bd6;
}

.wiki-doc-detail-content {
    padding: 10px;
    min-height: 150px;
}

.wiki-doc-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wiki-doc-count {
    color: #5C80D1;
}

.wiki-doc-desc {
    margin-top: 20px;
    color: #8B8C8C;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.wiki-doc-desc:hover {
    color: #8B8C8C;
}

.doc-title-container {
    height: 50px;
}

.doc-detail-title {
    font-size: 28px;
    padding: 0 20px;
}

.editormd-body {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 30px 30px 0 30px;
}

.editormd-view-body, .editormd-toc {
    height: 100%;
    overflow: auto;
    overflow: -moz-scrollbars-none;
}

.editormd-view-body::-webkit-scrollbar {
    width: 0 !important
}

.editormd-toc::-webkit-scrollbar {
    width: 0 !important
}

.editormd-toc {
    border-left: 1px solid #333333;
}

/*自定义markdown主题*/
.editormd-preview-theme-dark {
    color: #979898;
    background: #1A1D1E;
}

.markdown-body h1, .markdown-body h2, .markdown-body hr {
    border-bottom: 1px solid #333333;
}

.editormd-preview-container hr, .editormd-html-preview hr {
    border-top: 1px solid #333333;
}

.editormd-preview-container pre.prettyprint, .editormd-html-preview pre.prettyprint {
    border: 1px solid #333333;
}

.markdown-toc-list li {
    color: #3D7DB4;
}

.editormd-preview-container code, .editormd-html-preview code {
    border: 0 solid #ddd;
    background: #333333;
    color: #C5C5C5;
}
