.wiki-box {
    padding: 50px 10%;
}

.wiki-doc-img {
    width: 100%;
    height: auto;
}

.wiki-doc-container {
    margin-bottom: 15px;
    background: white;
    cursor: pointer;
    display: block;
}

.wiki-doc-container:hover {
    transform: translateY(-6px);
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.3);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.wiki-doc-detail-content {
    padding: 10px;
    min-height: 150px;
}

.wiki-doc-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #373737;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wiki-doc-count {
    color: #5C80D1;
}

.wiki-doc-desc {
    margin-top: 20px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.doc-title-container {
    height: 50px;
}

.doc-detail-title {
    font-size: 28px;
    color: #383434;
    padding: 0 20px;
}

.editormd-body {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 30px 30px 0 30px;
}

.editormd-view-body, .editormd-toc {
    height: 100%;
    overflow: auto;
    overflow: -moz-scrollbars-none;
}

.editormd-view-body::-webkit-scrollbar {
    width: 0 !important
}

.editormd-toc::-webkit-scrollbar {
    width: 0 !important
}

.editormd-toc {
    border-left: 1px solid #ddd;
}
