/*保持log宽度和 siderbar 宽度一致*/
.navbar.horizontal-menu .navbar-inner .navbar-brand {
    padding: 0 40px;
    width: 280px;
}

.navbar-logo-img {
    height: 35px;
    width: 35px;
}

.navbar-slogan {
    display: inline;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 16px;
}

.page-body {
    overscroll-behavior: none;
    background: #1A1D1E;
}

.page-content {
    height: 100%;
    width: 100%;
}

footer.main-footer {
    border-top: 1px solid #444444;
    background-color: #1A1D1E;
    padding: 15px 30px;
    border-top: 1px solid #2c2c2c;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
}

footer.main-footer .footer-text {
    color: #60686F;
    text-align: center;
    line-height: 100%;
    float: none;
}
