/*保持log宽度和 siderbar 宽度一致*/
.navbar-brand > a {
    width: 220px;
}

.page-body {
    overscroll-behavior: none;
    background: #2B2B2B;
}

.page-content {
    height: 100%;
    width: 100%;
}

footer.main-footer {
    border-top: 1px solid #444444;
    background-color: #2B2B2B;
}

footer.main-footer .footer-text {
    color: #3D7DB4;
}
