.xmind-container {
    display: block;
    width: 100%;
    height: 100%;
}

.xmind-list-container {
    background: #2C2E2E;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 10px 0;
    display: inline-block;
    float: left;
}

.xmind-map-container {
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 0;
}

.xmind-footer-container {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.xmind-item-name {
    cursor: pointer;
}

.xmind-name {
    margin: 8px;
    font-size: 6px;
    color: #979898;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: fixed;
}

.xmind-content {
    height: 100%;
    width: 100%;
    padding: 25px 5px 25px 5px;
}

.xmind-zoom-container {
    padding: 5px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #202C2E2E;
    border-radius: 5px;
    z-index: 100;
}

.xmind-zoom-img {
    height: 24px;
    width: 24px;
    display: block;
    margin-top: 5px;
    cursor: pointer;
}

footer.main-footer {
    background: transparent;
    border-top: none;
    height: 20px;
    padding: 2px 0 0 0;
    margin-top: 0;
}

.sidebar-menu .main-menu li.has-sub > a:before {
    content: none;
}

/*滚动条*/
.xmind-list-container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/*滚动槽*/
.xmind-list-container::-webkit-scrollbar-track {
    border-radius: 2px;
}

/*滚动条滑块*/
.xmind-list-container::-webkit-scrollbar-thumb {
    background: #6d6e6f;
    border-radius: 6px;
}

.xmind-list-container::-webkit-scrollbar-thumb:hover {
    background: #9d9e9d;
}

.xmind-list-container::-webkit-scrollbar-track:hover {
    background: #606262;
}
