.xmind-container {
    display: block;
    width: 100%;
    height: 100%;
}

.xmind-list-container {
    background: #2C2E2E;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px 0;
}

.xmind-map-container {
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 0;
}

.xmind-footer-container {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.xmind-item-name {
    line-height: 16px;
    font-size: 15px;
    cursor: pointer;
    color: #939494;
    padding: 10px 20px;
    margin-bottom: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.xmind-item-name:hover {
    background: #353839;
}

.xmind-name {
    margin: 8px;
    font-size: 6px;
    color: #979898;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    position: fixed;
}

.xmind-content {
    height: 100%;
    width: 100%;
    padding: 25px 5px 25px 5px;
}

.xmind-zoom-container {
    padding: 5px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #202C2E2E;
    border-radius: 5px;
    z-index: 100;
}

.xmind-zoom-img {
    height: 24px;
    width: 24px;
    display: block;
    margin-top: 5px;
    cursor: pointer;
}

footer.main-footer {
    background: transparent;
    border-top: none;
    height: 20px;
    padding: 2px 0 0 0;
    margin-top: 0;
}
